.rodape {
	padding: 30px 0;
	display: inline-block;
	width: 100%;
	background: #3a3a3a;
	margin-bottom: -4px;

	.container {
		position: relative;

			.seta-up {
				font-size: 45px;
				color: #fff;

				a {
					position: absolute;
					top: -30px;
					display: block;
					right: 0;
					color: #fff;
				}
			}
		}

	.conteudo {
		@include make-xs-column(12);
		@include make-sm-column(12);
		@include make-md-column(12);
		color: #fff;
		text-align: center;
	}
}