#contato.contact
	.container
		.row
			.conteudo
				h2 FALE 
					strong CONOSCO

			.endereco
				h3
					i.fa.fa-phone-square(aria-hidden='true')
					|  79 3020 - 1950
				.social
					p
						i.fa.fa-instagram.fa-fw(aria-hidden='true')
						|  sensocriativo
					p
						i.fa.fa-facebook.fa-fw(aria-hidden='true')
						|  /senso.criativo.design
				.fb-like(data-href='https://facebook.com/senso.criativo.design', data-layout='standard', data-action='like', data-size='small', data-show-faces='true', data-share='true')

			.endereco
				h3
					i.fa.fa-envelope-o(aria-hidden='true')
					|  Envie um e-mail
				form.wpcf7-form(method='post')
					.form-group
						input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required.form-control(type='text', name='nome', value='', size='40', aria-required='true', aria-invalid='false', placeholder='nome')
					.form-group
						input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required.form-control(type='text', name='email', value='', size='40', aria-required='true', aria-invalid='false', placeholder='email')
					.form-group
						textarea.wpcf7-form-control.wpcf7-textarea.wpcf7-validates-as-required.form-control(name='mensagem', cols='40', rows='8', aria-required='true', aria-invalid='false', placeholder='mensagem')
					p
						button.wpcf7-form-control.wpcf7-submit.btn.btn-default.right(type='submit')
							i.fa.fa-paper-plane-o
							|  Enviar
						img.ajax-loader(src='http://editoratiradentes.com.br/wp-content/plugins/contact-form-7/images/ajax-loader.gif', alt='Enviando ...', style='visibility: hidden;')
					.wpcf7-response-output.wpcf7-display-none