.contact {
	padding: 30px 0;
	display: inline-block;
	width: 100%;
	background: #f3f3f3;
	border-bottom: 1px dashed #d4d4d4;

	.conteudo {
		@include make-xs-column(12);
		@include make-sm-column(12);
		@include make-md-column(12);
		margin-bottom: 30px;

		h2 {
			font-weight: 300;
			font-family: 'Roboto Condensed', sans-serif;
			font-size: 50px;
			text-align: center;

			strong {
				font-weight: 700;
			}
		}
	}

	.endereco {
		@include make-xs-column(12);
		@include make-sm-column(12);
		@include make-md-column(6);

		h2 {
			font-weight: 300;
			font-family: 'Roboto Condensed', sans-serif;
			font-size: 50px;
			text-align: center;

			strong {
				font-weight: 700;
			}
		}
	}
}