nav.menu-topo
	.container
		.navbar-header
			button.menu-desktop(data-template-url='app/menu/menu.aside.html', data-placement='left', data-animation='am-slide-left', bs-aside='aside', data-container='body')
				i.fa.fa-bars
				|  MENU
			a.navbar-brand(ui-sref='home')
				h1
					strong SENSO
					|  C R I A T I V O