// Menu Mobile
.menu-topo {
	@extend .navbar;
	@extend .navbar-default;
	@extend .navbar-fixed-top;
	margin-bottom: 0;
	background-color: $color-primaria;
	border: none;
	color: $color-texto-menu;
	border-bottom: $color-secundaria 1px dashed;

	.botao-desktop {
		background-color: transparent;
		border: none;
		border-radius: 2px;
		padding: 6px 10px;
		margin-top: 10px;
		float: left;

		&:hover {
			background: #000;
		}
	}

	.menu-desktop {
		background-color: transparent;
		border: none;
		border-radius: 2px;
		padding: 6px 10px 6px 0;
		margin-top: 10px;
		float: left;
		color: #000;

		@media (min-width: 0px) and (max-width: $screen-xs-max) {
			font-size: 15px;
			padding: 6px 10px 6px 6px;
		}
	}
	
	.navbar-nav{
		&>li{
			&>a{
				color: #fff;
				font-size: 1.5em;

				&:hover, &:active {
					background-color: darken(#ED145B, 10%);
					color: #fff;
				}
			}
		}
		&>.open {
			&>a, &>a:hover, &>a:focus {
				background-color: darken(#ED145B, 10%);
				color: #fff;
			}
		}
	}

	.navbar-header {
		position: relative;
		width: 100%;
		margin: 0;

		.marca-ies {
			height: 36px;
			margin-top: 5px;
			position: absolute;
			right: 0;

			@media (min-width: 0px) and (max-width: $screen-xs-max) {
				height: 26px;
				margin-top: 12px;
			}
		}
		.loja-virtual {
			@extend .btn;
			@extend .btn-success;
			float: right;
			margin: 8px 0 0 0;

			@media (min-width: 0px) and (max-width: $screen-xs-max) {
				padding: 2px 5px;
				margin: 13px 0 0 0;
			}
		}
	}

	.navbar-brand {
		font-family: 'Roboto Condensed', sans-serif;
		color: $color-secundaria;
		padding: 16px 15px;
		font-weight: 300;

		h1 {		
			font-size: 16px;
			padding: 0;
			margin: 2px 0 0 0;

			strong {
				font-weight: 700;
			}
		}

		&>img {
			max-height: 35px;
		}

		@media (min-width: 0px) and (max-width: $screen-xs-max) {
			font-size: 15px;
			padding: 17px 0px;
		}

		&:hover {
			color: $color-contraste;
		}

	}
	.navbar-toggle{
		background-color: transparent;
		border: none;
		border-radius: 2px;
		padding: 6px 10px;
		margin-top: 10px;

		&:hover, &:focus {
			background-color: #000;
			color: #fff;
			.icon-bar {
				background-color: #000;
			}
		}

		.icon-bar {
			background-color: #fff;
		}
	}
}

.aside {
	position: fixed;
	top: 0;
	bottom: 0;
	z-index: $zindex-modal - 1;
	overflow: auto;
	min-width: 320px;
	background-color: $color-primaria;

	&:focus {
		outline: none;
	}
	@media (max-width: $screen-sm-max) {
		min-width: 240px;
	}

	&.left {
		right: auto;
		left: 0;
	}
	&.right {
		right: 0;
		left: auto;
	}

	.aside-dialog {
		.aside-header {
			@extend .modal-header;
			padding: 6px 15px;
			background: $color-black;
			color: white;
			border: none;
			padding: 17px 15px 15px 15px;

			.close {
				margin-right: -8px;
				padding: 4px 8px;
				color: white;
				font-size: 12px;
				opacity: .8;
				font-weight: 300;
			}
		}

		.aside-content {
			.menu-opcao {
				text-align: left;
				padding: 0px;
				color: #fff;
				text-decoration: none;
				display: block;
				padding: 15px;
				text-transform: uppercase;
				border-bottom: 1px dotted #525252;
				margin: 0 20px;
				font-weight: 700;

				&:hover {
					background: $color-secundaria;
					color: darken($color-primaria, 10%);
				}

				i {
					font-size: 24px;
				}
				
				&:last-child {
					border: none;
				}
			}
		}

		.aside-body {
			@extend .modal-body;
		}
		.aside-footer {
			@extend .modal-footer;
		}
	}

}
.aside-backdrop {
	@extend .modal-backdrop;
	background: rgba(0, 0, 0, 0.8);
}
.modal {
	&.center {
		.modal-dialog {
			position: fixed;
			top: 40%;
			left: 50%;
			min-width: 320px;
			max-width: 630px;
			width: 50%;
			transform: translateX(-50%) translateY(-50%);
		}
	}
}

// aside
$slide-duration: .3s;
$slide-timing-function: ease-in-out;
.am-slide-left {
	animation-duration: $slide-duration;
	animation-timing-function: $slide-timing-function;
	animation-fill-mode: backwards;

	&.am-slide-left-add, &.ng-hide-remove, &.ng-move {
		animation-name: slideFromLeft;
	}
	&.am-slide-left-remove, &.ng-hide {
		animation-name: slideToLeft;
	}

	&.ng-enter {
		visibility: hidden;
		animation-name: slideFromLeft;
		animation-play-state: paused;
		&.ng-enter-active {
			visibility: visible;
			animation-play-state: running;
		}
	}
	&.ng-leave {
		animation-name: slideToLeft;
		animation-play-state: paused;
		&.ng-leave-active {
			animation-play-state: running;
		}
	}
}

@keyframes slideFromLeft {
	from {
		transform: translateX(-100%);
	}
}
@keyframes slideToLeft {
	to {
		transform: translateX(-100%);
	}
}