.aside.left.am-slide-left(tabindex='-1', role='dialog')
	.aside-dialog
		.aside-content
			.aside-header
				button.close(type='button', ng-click='$hide()')
					| FECHAR 
					strong X
			a.menu-opcao(ng-href='{{item.link}}', title='{{item.title}}', ng-repeat='item in menu_items track by $index', ng-bind='item.title')