// Roboto

@font-face {
    font-family: 'robotoblack';
    src: url('app/fonts/roboto-black-webfont.woff2') format('woff2'),
         url('app/fonts/roboto-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoblack_italic';
    src: url('app/fonts/roboto-blackitalic-webfont.woff2') format('woff2'),
         url('app/fonts/roboto-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotobold';
    src: url('app/fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('app/fonts/roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotobold_italic';
    src: url('app/fonts/roboto-bolditalic-webfont.woff2') format('woff2'),
         url('app/fonts/roboto-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoitalic';
    src: url('app/fonts/roboto-italic-webfont.woff2') format('woff2'),
         url('app/fonts/roboto-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotolight';
    src: url('app/fonts/roboto-light-webfont.woff2') format('woff2'),
         url('app/fonts/roboto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotolight_italic';
    src: url('app/fonts/roboto-lightitalic-webfont.woff2') format('woff2'),
         url('app/fonts/roboto-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotomedium';
    src: url('app/fonts/roboto-medium-webfont.woff2') format('woff2'),
         url('app/fonts/roboto-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotomedium_italic';
    src: url('app/fonts/roboto-mediumitalic-webfont.woff2') format('woff2'),
         url('app/fonts/roboto-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoregular';
    src: url('app/fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('app/fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'robotothin';
    src: url('app/fonts/roboto-thin-webfont.woff2') format('woff2'),
         url('app/fonts/roboto-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'robotothin_italic';
    src: url('app/fonts/roboto-thinitalic-webfont.woff2') format('woff2'),
         url('app/fonts/roboto-thinitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

// Roboto Condesed

@font-face {
    font-family: 'roboto_condensedbold';
    src: url('app/fonts/robotocondensed-bold-webfont.woff2') format('woff2'),
         url('app/fonts/robotocondensed-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roboto_condensedbold_italic';
    src: url('app/fonts/robotocondensed-bolditalic-webfont.woff2') format('woff2'),
         url('app/fonts/robotocondensed-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roboto_condenseditalic';
    src: url('app/fonts/robotocondensed-italic-webfont.woff2') format('woff2'),
         url('app/fonts/robotocondensed-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roboto_condensedlight';
    src: url('app/fonts/robotocondensed-light-webfont.woff2') format('woff2'),
         url('app/fonts/robotocondensed-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roboto_condensedlight_italic';
    src: url('app/fonts/robotocondensed-lightitalic-webfont.woff2') format('woff2'),
         url('app/fonts/robotocondensed-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roboto_condensedregular';
    src: url('app/fonts/robotocondensed-regular-webfont.woff2') format('woff2'),
         url('app/fonts/robotocondensed-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}