.portfolio {
	padding: 30px 0 60px 0;
	display: inline-block;
	width: 100%;
	background: #f3f3f3;
	margin-top: 4px;

	.conteudo {
		@include make-xs-column(12);
		@include make-sm-column(12);
		@include make-md-column(12);

		h2 {
			font-weight: 300;
			font-family: 'Roboto Condensed', sans-serif;
			font-size: 50px;
			text-align: center;

			strong {
				font-weight: 700;
			}
		}
	}

	.trabalhos {
		width: 100%;
		margin: 30px 0 0 0;

		.conteudo {
			@include make-xs-column(12);
			@include make-sm-column(6);
			@include make-md-column(3);
			padding: 0;

			a {
				font-family: 'Roboto Condensed', sans-serif;
				text-align: center;
				color: #fff;

				&:hover {
					img {
						-moz-transform: translateX(0px) translateY(-80px);
						-webkit-transform: translateX(0px) translateY(-80px);
						-o-transform: translateX(0px) translateY(-80px);
						-ms-transform: translateX(0px) translateY(-80px);
						transform: translateX(0px) translateY(-80px);
					}
				}

				img {
					@extend .img-responsive;
					position: relative;
					z-index: 2;
					-webkit-transition: all 0.3s linear;
					-moz-transition: all 0.3s linear;
					-ms-transition: all 0.3s linear;
					-o-transition: all 0.3s linear;
					transition: all 0.3s linear;
				}
				
				.texto {
					font-size: 16px;
					position: absolute;
					width: 100%;
					left: 0;
					bottom: 0;
					z-index: 1;
					color: #333;

					i {
						font-size: 26px;
					}

					small {
						font-size: 12px;
					}
				}
			}
		}
	}
}