#portfolio.portfolio
	.container
		.row
			.conteudo
				h2 NOSSO 
					strong PORTFÓLIO

	.trabalhos
		.conteudo(ng-repeat="(key, portfolio) in $ctrl.portfolios")
			a(href="#")
				img(ng-src="{{ portfolio['thumb-img'] }}")
				.texto <i class="fa fa-hand-o-up" aria-hidden="true"></i><br> {{ portfolio.name }}
					small <br> {{ portfolio.subtitle }}

