// Color Schemes

$color-primaria: #fff;
$color-secundaria: #666;
$color-contraste: #000;
$color-texto-menu: #fff;
$color-black: #222;
 
@mixin transition($options: all 0.3s linear){
	-webkit-transition: $options;
	-moz-transition: $options;
	-ms-transition: $options;
	-o-transition: $options;
	transition: $options;
}

body {
	font-family: 'Roboto', sans-serif;
	padding-top: 50px;
	background: #fff;
	// #f3f3f3
}

a, .btn {
	@include transition();
}

// Botão Ghosts Overrides

.botao-ghost {
	@extend .btn;
	@extend .btn-info;
	color: #fff;
	background-color: rgba(0,0,0,0.32);
	border-color: #FFFFFF;
	border: 4px solid;

	&:hover {
		background-color: rgba(0,0,0,0.20);
		border-color: $color-contraste;
		color: $color-contraste;
	}
}