.equipe {
	padding: 30px 0;
	display: inline-block;
	width: 100%;
	background: #fff;
	border-bottom: 1px dashed #d4d4d4;
	border-top: 1px dashed #8a8a8a;

	.conteudo {
		@include make-xs-column(12);
		@include make-sm-column(12);
		@include make-md-column(12);

		h2 {
			font-weight: 300;
			font-family: 'Roboto Condensed', sans-serif;
			font-size: 50px;
			text-align: center;

			strong {
				font-weight: 700;
			}
		}
	}

	.trabalhos {
		width: 100%;
		margin: 30px 0 0 0;

		.conteudo {
			@include make-xs-column(6);
			@include make-sm-column(4);
			@include make-md-column(2);
			margin-bottom: 25px;
			
			img {
				@extend .img-responsive;
				@extend .img-circle;
				-webkit-transition: all 0.3s linear;
				-moz-transition: all 0.3s linear;
				-ms-transition: all 0.3s linear;
				-o-transition: all 0.3s linear;
				transition: all 0.3s linear;

				&:hover {
					-webkit-transform:scale(1.3); /* prefixo para browsers webkit */
					-moz-transform:scale(1.3); /* prefixo para browsers gecko */
					-o-transform:scale(1.3); /* prefixo para opera */
					transform:scale(1.3);
					border: 1px solid #000;
				}
			}
			
			.texto {
				font-family: 'Roboto Condensed', sans-serif;
				text-align: center;
				color: #333;
				
				h3 {
					font-size: 18px;

					small {
						font-size: 12px;
						display: block;
					}
				}

				i {
					font-size: 26px;
				}

			}
		}
	}
}