#equipe.equipe
	.container
		.row
			.conteudo
				h2 CONHEÇA NOSSA 
					strong EQUIPE

	.trabalhos
		.container
			.row
				.conteudo
					img(src="imgs/rosi.jpg")
					.texto 
						h3
							strong ROSI 
							| MATOS
							small Social Midia Expert

				.conteudo
					img(src="imgs/gabriel.jpg")
					.texto
						h3
							strong GABRIEL 
							| ARAÚJO
							small Diretor de Criação

				.conteudo
					img(src="imgs/ingrid.jpg")
					.texto
						h3 
							strong ISIS 
							| GUIMARÃES
							small Designer

				.conteudo
					img(src="imgs/flavio.jpg")
					.texto
						h3 
							strong FLÁVIO 
							| MACHADO
							small UI / EX Designer

				.conteudo
					img(src="imgs/diego.jpg")
					.texto
						h3 
							strong DIEGO 
							| MELO
							small Full Stack Developer

				.conteudo
					img(src="imgs/you.jpg")
					.texto
						h3 
							strong PODE SER 
							| VOCÊ
							small Envie seu currículo

