doctype html
html(lang='pt-BR')
	head
		meta(charset='UTF-8')
		meta(name='theme-color', content='#00285a')
		title Senso Criativo - Digital Branding Studio
		meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		meta(name='viewport', content='width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no')
		meta(name='fragment', content='!')
		meta(name='description', content='Usando como lema a palavra PARCERIA e nunca concorrência, a Senso Criativo, um escritório de Design Gráfico e Web, abre suas portas tanto para seus clientes quanto para outras empresas da área.')
		meta(name='keywords', content='Senso Criativo - Criatividade, Parceria, Design Gráfico, Webdesign, Hotsite, Identidade Visual, Impressos, Internet, Sites, Ilustração, Digital, Multimídia, Interatividade, UI/UX Design, Branding, Studio')
		meta(name='author', content='Flávio Machado')
		base(href='/')
		link(rel='stylesheet', href='css/main.css')
		// rel responsavel para destinar qual pagina rankear
		link(rel='canonical', href='http://sensocriativo.com.br')
	body(ng-app='application')
		ui-view
		script(src='app/main.js')

		#fb-root
		script.
			(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.7&appId=234060320083389";
			fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));