.topo {
	width: 100%;
	background: #fff;
	padding: 150px 0;
	text-align: center;
	border-bottom: 1px dashed #d4d4d4;

	@media (min-width: 0px) and (max-width: $screen-xs-max) {
		padding: 80px 0;
	}

	.marca {
		@media (min-width: 0px) and (max-width: $screen-xs-max) {
			width: 300px;
		}
	}
}